/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

.red{
	color: red;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

a{
	color: black;
	text-decoration: none;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	margin-top: 20px;
	margin-left: 10px;
	
	font-weight: 700;
	font-size: 16px;
	background-color: white;
	color: #1D6154;
	font-family: 'Syne';
	border: 2px solid #1D6154;
	height: 37px;
	border-radius: 60px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	flex-direction: row;
}

.connect{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
	font-weight: 700;
	font-size: 16px;
	background-color:#1D6154;
	color: white;
	font-family: 'Syne';
	border: 2px solid #1D6154;
	height: 37px;
	border-radius: 60px;
	margin-bottom: 6%;
	text-decoration: none;
	cursor: pointer;
}

.connexion{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8%;
	flex-direction: column;
}

.filters:hover{
	background-color: #1D6154;
	color: white;
}

#filters_category{
	display: flex;
	justify-content: center;
	
}

#user-error, #password-error{
	color: red;
	margin-top: 2%;
}



.banner-sous{
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	height: 100%;
	
}

.button-edition{
height: 65%;
width: 17%;
background-color: white;
border-radius: 50px ;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
margin-left: 2%;
color: black;
}

.banner{
	
	width: 100%;
	height: 55px;
	background-color: black;
}

.modif-pro{
	display: flex;
	margin-bottom: 2%;
	text-decoration: none;
	margin-left: 2%;
	
}


.pro{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
}

.my-projects{
	margin-left: 50px ;
}

.mode{
	margin-left: 2%;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}




.gallery img {
	width: 100%;
}

.modif-pic{
	
	margin-top: 2%;
	margin-left: 10%;
	text-decoration: none;
}



.pic{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
}

#contact {
	width: 50%;
    margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}



footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.modal{
	border: none;
	border-radius: 10px 10px;
	height: 830px;
	width: 690px;
}

.gallery2 img {
	width: 100%;
}


 .gallery2{
	
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
 }

 .gallery2 figure{
	width: 90%;
 }

 .gallery2 figcaption{
	width: 100%;
 }


#addPic{
	display: none;
}

#userPic{
	display: none;
	cursor: pointer;
}

#userPic1{
	cursor: pointer;
}

.modal-title{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	margin-top: 5%;
	font-family: 'Work Sans' ;
	
}

.bar-modal{
	margin-left: 15%;
	margin-top: 6%;
	margin-bottom: 6%;
	justify-content:center;
	align-items: center;
	width: 70%;
	height: 1.5px;
	background-color: rgb(200, 200, 200);
}

.footer-modal{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.thrash{
	background-color: black;
	padding: 25px;
	width: 25px;
	display: flex;
	color:white;
	position: relative;
	right: 0px;
	bottom: 125px;
	border-radius: 4px 4px ;

}


#cross{display: flex;
	justify-content: flex-end;
	height: 10px;
}

.cadreImage{
	position: relative;
}

.trash{
	position:absolute	;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	min-height: 22px;
	right: 5px;
	top: 5px;
}